<div class="panel panel-default" ng-controller="dashboardController as dashboardCtrl">
	  <div class="jumbotron">
    <h1 style="color:#FF8C00;"><center>Summary of Account: {{dashboardCtrl.user_name_cookie}}</center></h1>
</div>
<button id="myBtn" ng-show="dashboardCtrl.chartType=='line'">Savings</button>

  <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    Savings Percentage<input ng-model="dashboardCtrl.savingsPercentage" type="number" value="10" step="5" min="0" max="100" ng-change="dashboardCtrl.changeTable()"/>
    Show savings bar<input type="checkbox" ng-model="dashboardCtrl.showSavings" ng-change="dashboardCtrl.changeTable()"/>
  </div>

</div>

<script type="text/javascript">
  var modal = document.getElementById('myModal');

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal 
  btn.onclick = function() {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }

</script>


<section class="container content-section text-center">
      <div id = "container" style = "width: 550px; height: 1000px;">
      </div>
      </section>
<hr>
    <select ng-model = "dashboardCtrl.timeFrame" ng-change="dashboardCtrl.changeTable()">
      <option value="2016-07-09W">Weekly</option>
      <option value="2016-06-16M">Monthly</option>
      <option value="2015-07-10Y">Yearly</option>
    </select>
    <select ng-model = "dashboardCtrl.chartType" ng-change="dashboardCtrl.changeTable()">
      <option value="line">Line Graph</option>
      <option value="bar">Bar Chart</option>
      <option value="pie">Pie Chart</option>
    </select>
<hr>    
<div class="container">                                          
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Graph Type
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" style="color:#FF8C00;" href="#">Line Chart</a>
      <a class="dropdown-item" style="color:#FF8C00;" href="#">Bar Chart</a>
      <a class="dropdown-item" style="color:#FF8C00;" href="#">Pie Chart</a>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container">                                          
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Information Type
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" style="color:#FF8C00;" href="#">Balance</a>
      <a class="dropdown-item" style="color:#FF8C00;" href="#">Spending</a>
      <a class="dropdown-item" style="color:#FF8C00;" href="#">Something else</a>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
 
</div>
